.answerOptions {
  width: 100%;
  margin-right: 30px;
}
.choiceList {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #303030;
  box-sizing: border-box;
  border: 1px solid #444444;
  border-bottom: none;
  cursor: pointer;
  position: relative;
}

.choiceList:first-child {
  border-radius: 5px 5px 0 0;
}
.choiceList:last-child {
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid #444444;
}

a {
  text-decoration: none;
}

.choiceList:hover {
  background-color: #444444;
}

.listItem {
  height: 46px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.activeGold {
  color: #ffd700;
}
.activeRed {
  color: #ff0000;
}


.marker {
  width: .6rem;
  height: .6rem;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 1%;
  top: 50%;
  transform: translateY(-50%);
}
.activeMarkerGold {
  background-color: #ffd900;
  box-shadow: 0px 0px 5px rgba(255, 217, 0, 0.8), inset 0px 0px 5px rgba(255, 255, 255, 0.8);
}
.activeMarkerRed {
  background-color: #ff0000;
  box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.8), inset 0px 0px 5px rgba(255, 255, 255, 0.8);
}

@media (max-width: 960px) {
  .answerOptions {
    margin-right: 0;
    margin-bottom: 15px;
  }
}