.answerOptions {
  width: 100%;
  margin-right: 30px;
}
.choiceList {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #303030;
  box-sizing: border-box;
  border: 1px solid #444444;
  border-bottom: none;
  cursor: pointer;
}

.choiceList:first-child {
  border-radius: 5px 5px 0 0;
}
.choiceList:last-child {
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid #444444;
}

a {
  text-decoration: none;
}

.choiceList:hover {
  background-color: #444444;
}

.listItem {
  height: 46px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.activeGold {
  color: gold;
}
.activeRed {
  color: red;
}

@media (max-width: 960px) {
  .answerOptions {
    margin-right: 0;
    margin-bottom: 15px;
  }
}