.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 20px 20px 0;
}

.logo {
  width: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.logoImg {
  display: block;
  width: 100%;
  padding: 0;
}

.score {
  color: #ffffff;
}