.nextBth {
  width: 100%;
  height: 35px;
  background-color: #303030;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
}

.action {
  background-color: #00bc8c;
}
