.quest {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  background-color: #303030;
  padding: 16px;
  margin-bottom: 25px;
  border-radius: 5px;
}

.questControl {
  width: 100%;
}

.questSpan {
  display: inline-block;
  color: #ffffff;
  margin-bottom: 20px;
}

hr {
  border: none;
  color: #444444;
  background-color: #444444;
  height: 1px;
}

.questAudio {
  width: 100%;
  height: 30px;
  outline: none;
}

.questAudio::-webkit-media-controls-panel {
  background-color: #008966;
  height: 30px;
}
.questAudio::-webkit-media-controls-current-time-display {
  display: none;
}

.questAudio::-webkit-media-controls-time-remaining-display {
  display: none;
}

@media (max-width: 1024px) {
  .quest {
    flex-wrap: wrap;
    justify-content: center;
  }

  .questControl {
    text-align: center;
  }
}
