.App {
  /* width: 100vw; */
  padding-right: 15px;
  padding-left: 15px;
  /* margin: 0 auto; */
}

.wrap {
  display: flex;
}

@media (max-width: 960px) {
  .wrap {
    flex-wrap: wrap;
  }
}

@media (min-width: 1200px){
  .App {
    max-width: 1140px;
    margin: 0 auto;
  }
}
